* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */

li , a {
    list-style: none;
    margin: 10px;
    color: rgba(7, 7, 8, 0.377);
}

button {
    cursor: pointer;
    
}

.ham-menu {
    opacity: 0.4;
    cursor: pointer;
    display: none;
}

.ham-menu:hover {
    transform: scale(0.95);
}

.search input {
    border: none;
    width: 85%;
    height: 100%;
    border-radius: 50px;
    outline: none;
    font-size: 15px;
    margin-right: 5px;
}

.search {
    border-radius: 50px;
    padding: 5px;
    margin-top: 5px;
    height: 30px;
    }

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    position: absolute;
    position: fixed;
    z-index: 2;
}


.nav {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}


/* header */

/* main */

.first-img {
    width: 100%;
    opacity: 0.8;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.first-img-logo {
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
   }


.content {
    display: flex;
    width: 80%;
    flex-direction: column;
    text-align: center;
    margin-left: 110px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px;
}

.text {
    margin-bottom: 20px;
    }


.imgtext {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}

.text2 {
    padding: 40px;
    margin-top: 20px;
    text-align: start;
    }

.girl {
    opacity: 0.65;
    }

.girl:hover {
    opacity: 1;

}

.short-text {
    margin-top: 50px;
    text-align: center;
}

.big-box {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.all-present {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.one-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.icon-text {
    display: flex;

}

.persent {
    display: flex;
    background-color: blueviolet;
    height: 40px;
    margin-bottom: 10px;
}

.text-small {
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 5px;
    color: #616161;
}

.self-one {
    background-color: #616161;
    flex-grow: 9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-one {
    background-color: #f1f1f1;
    display: flex;
    flex-grow: 1;
}

.self-two {
    background-color: #616161;
    flex-grow: 8.5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-two {
    background-color: #f1f1f1;
    display: flex;
    flex-grow: 1.5;
} 

.self-three {
    background-color: #616161;
    flex-grow: 7.5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.empty-three {
    background-color: #f1f1f1;
    display: flex;
    flex-grow: 2.5;
} 

.work-self {
    background-color:#616161;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    height: 120px;
    align-items: center;
}

.client-com {
    background-color: #616161;
    height: 100%;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.my-work {
    text-align: center;
    margin-top: 50px;
    color: rgba(7, 7, 8, 0.377);
    padding: 10px;
    
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.picture {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    
}

.pic-self {
    width: 260px;
    height: 260px;
    padding: 10px;
}

.pic-self :hover {
    opacity: 0.8;
    cursor: pointer;
}

.lead button {
    font-size: 12px;
    padding: 10px;
    border: none;
    }

.lead {
    display: flex;
    justify-content: center;
}

.lead :hover {
    background-color: #616161;
    }

    .contact-img {
        display: flex;
        margin-top: 50px;
        height: 400px;
        width: 100%;
        opacity: 0.5;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .contact {
        position: absolute;
        font-size: 35px;
        text-align: center;
        color: white;
        letter-spacing: 5px;
        background-color: rgba(8, 4, 4, 0.753);

    }

    .geo {
        font-size: 25px;
        margin-top: 50px;
        text-align: center;
        color: #616161;
    }

    .map {
        width: 270px;
        height: 270px;
    }

    .all-info {

        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .map-contact {
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 70px;
    }

    .number-mail {
        padding: 20px;
        font-size: 20px;
    }
    
    .info-inp {
        font-size: 20px;
        padding: 10px;
        margin: 5px;
    }

    .number-mail button {
        float: right;
        font-size: 20px;
        padding: 5px;
        color: white;
        background-color: black;
    }

    .number-mail button:hover {
        background-color: #616161;
        border: none;
    }

    /* main */

    /* footer */

    footer {
        background-color: #616161;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer button {
       border: none;
       width: 150px;
       height: 50px;
       padding: 10px;
       font-size: 15px;
       margin-bottom: 20px;
    }

    footer:hover {
        background-color: black;
    }

    footer i {
        color: white;
        font-size: 22px;
        cursor: pointer;
        padding: 2px;
    }

    footer button i {
        margin-right: 10px;
        color: black;
    }

    footer button a {
        text-decoration: none;
        color: black;
    }

    /* footer */

