* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */

li , a {
    list-style: none;
    margin: 10px;
    color: rgba(7, 7, 8, 0.377);
}

button {
    cursor: pointer;
    
}

input {
    border: none;
    width: 85%;
    height: 100%;
    border-radius: 50px;
    outline: none;
    font-size: 15px;
    margin-right: 5px;
}

.search {
    border-radius: 50px;
    padding: 5px;
    margin-top: 5px;
    height: 30px;
    }

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    position: absolute;
    position: fixed;
    z-index: 2;
}


.nav {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}


/* header */

/* main */

.first-img {
    width: 100%;
    opacity: 0.8;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.first-img-logo {
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
   }


.content {
    display: flex;
    width: 80%;
    flex-direction: column;
    text-align: center;
    margin-left: 110px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px;
}

.text {
    margin-bottom: 20px;
    }


.imgtext {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}

.text2 {
    padding: 40px;
    margin-top: 20px;
    text-align: start;
    }

.girl {
    opacity: 0.65;
    }

.girl:hover {
    opacity: 1;

}

.short-text {
    margin-top: 50px;
    text-align: center;
}

.big-box {
    background-color: rgb(155, 49, 49);    width: 100%;
    height: 200px;
}

.all-present {
    background-color: aquamarine;
}

.one-box {
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
}